.card {
    width: 250px; /* Calculate width for three cards with margin */
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 10px; /* Adjust margin for spacing between cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Display as inline-block to place cards side by side */
    vertical-align: top; /* Align cards to the top */
}

.card img {
    width: 250px; /* Make the image fill the entire width of the card */
    height: auto; /* Maintain aspect ratio */
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.card-content h3 {
    margin-bottom: 10px;
}

.card-container {
    text-align: center; /* Center align the cards horizontally */
    margin: 0 auto; /* Center the container horizontally */
    max-width: 1200px; /* Set maximum width to prevent overflow */
    padding:  50px; /* Add padding to create equal space on left and right */
}

input {
    position: absolute;
    right: 25%;
    margin-bottom: 20px;
}

.restaurants-container {
    display: flex; /* Use Flexbox */
    flex-wrap: wrap; /* Allow wrapping of cards to the next row */
    justify-content: flex-start; /* Align cards to the start of the container */
}

/* For stacking gallery cards horizontally */
.galleries-container {
    display: flex; /* Use Flexbox */
    flex-wrap: wrap; /* Allow wrapping of cards to the next row */
    justify-content: flex-start; /* Align cards to the start of the container */
}

#location-adder {
    background-color: greenyellow;
}

button.top-button{
    position: absolute;
    right: 0;
   
}

.container{
    display: flex;
}

div.form {
    margin: 8px;
}

button.card{
    font-size: 12px; /* Adjust the font size as needed */
  padding: 8px 12px;
  margin-left: 0px;
  margin-top: auto;
  background-color: rgb(222, 205, 186);
}

h1#header{
    text-align: center;
    color: blueviolet;
    margin-bottom: 0px;
    font-size: 40px;
}

p#header{
    text-align: center;
    font-style: italic;
    font-size: 35px;
}

div#form {
   border-style: groove;
}

div.container{
    display: flex;
}

input#search{
width: 200px;
}

button.card{
    width: 100px;
}

button#comment{
    width: 210px;
}

button.top-button{
    margin-bottom: 50px;
}
